<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Calhandar</title>
	<link rel="stylesheet" type="text/css" media="all"
		  href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<div align="right">
	<a th:href="@{/Logout}">Logout</a>
</div>

<div align="right">
	<a th:href="@{/Calhandar}">Calhandar</a>
</div>

<h1>Commitment Type Selection</h1>


<button style=""><a href="AddCommitmentPage">Lesson</a></button>
<button style=""><a href="Calhandar" >Meeting</a></button>
<button style=""><a href="Calhandar" >Personal Commitment</a></button>





</body>
</html>
